{% extends "blog/base.html" %}

{% block titulo %}{% if post.title %} {{ post.title }} {% endif %} | Blog de teste {% endblock %}

{% block content %}
  <div class="span7">
    <h1>404</h1>
    <p>Artigo não encontrado!</p>
  </div><!--/span-->
  <br clear="both">
{% endblock %}

{% block sidebar %}
  <li class="nav-header">Category</li>
    {% if category_list %}
      {% for categ in category_list %}
        <li>
          <a href="/blog/category/{{categ.alias}}">{{ categ.title }}</a>
        </li>
      {% endfor %}
    {% endif %}
{% endblock %}


