<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block titulo %}Blog teste{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/static/css/agutoli.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="span10">
          <div class="hero-unit">
            <h1><a href="/">Agutoli</a></h1>
            <p>Este é uma aplicação de teste feita em django</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span7">
          <div class="row">
            {% block content %}
              <!-- content -->
            {% endblock %}
          </div><!--/row-->
        </div><!--/span-->
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% block sidebar %}
                <!--  sidebar -->
              {% endblock %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->


      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->

  </body>
</html>
</body>
</html>
