{% extends "blog/base.html" %}

{% block titulo %}Listagem de posts{% endblock %}

{% block content %}
  {% url home_url_name as home %}
    {% if posts_list %}
      {% for post in posts_list %}
        <div class="span7">
          <h6>{{ post.pub_date }}</h6>
          <h2><a href="{{ home }}/{{ post.id }}">{{ post.title }}</a></h2>
          {% autoescape off %}          
          <p>{{ post.text|slice:"140"}}...</p>
          {% endautoescape %}
          <p><a class="btn" href="{{ home }}/{{ post.id }}">Ler mais...</a></p>
          <hr>
        </div><!--/span-->
        <br clear="both">
      {% endfor %}
    {% endif %}
{% endblock %}

{% block sidebar %}
  <li class="nav-header">Category</li>
    {% if category_list %}
      {% for categ in category_list %}
        <li>
          <a href="/blog/category/{{categ.alias}}">{{ categ.title }}</a>
        </li>
      {% endfor %}
    {% endif %}
{% endblock %}


